body {
  padding: 200px 50px 75px 100px;
  /* background: rgba(0, 128, 0, 0.3) */
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FnrXif9YExO9EI%2Fgiphy.gif&f=1&nofb=1)
}


/* This is the search box below used to have a text entry without a submit button */
input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 60%;
}

/* This stuff I got offline and optimised it for my colour scheme, it basically
works by creating an animated button which changes colour, this I have done by changing
the opacity of the green colour I like */
.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: rgba(255, 99, 71, 1);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 50, 60, 0.5);
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 99, 71, 1);
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}
* {
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
}
.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #777;
}
span {
  display: block;
  margin-top: 2rem;
  font-size: 2rem;
  color: rgba(255, 99, 71, 1);
}
